extends layouts/index.pug

block datos
    h1="Vista de Productos"
    br
    if lenItems            
        table
            tr
                td='Nombre'
                td='Precio'
                td='Foto'
                each item in items
                    tr
                        td=item.title
                        td=item.price
                        td=item.thumb                
    else
        h3='No se encontraron productos'
    